.card {
  padding: 2.5rem 4rem;
  color: #000;
  max-width: 500px;
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
  background-color: #fff;
}

.card .holiday{
  font-size: 35px;
  margin: 0;
  margin-bottom: 20px;
  writing-mode: vertical-rl;
text-orientation: mixed;
}

.card .holiday b{
  border-left: 3px solid rgb(255, 0, 170);
  font-size: 45px;
}

.distance{
  font-size: 130px;
  margin: 0;
}